@media (max-width: 700px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}


@media screen and (min-width: 700px) {

  /*
  ** MAIN HEADER START
  ** =>
  */

  .main-header .header-top .responsive-header-top,
  .main-header .header-bottom .responsive-header-bottom {
    width: 600px;
    margin: auto;
  }

  .btn-menu,
  .main-header .header-bottom nav .menu .mobile-header,
  .main-header .header-bottom nav .menu.show .mobile-header {
    display: none;
  }

  .main-header .header-bottom nav .menu.show,
  .main-header .header-bottom nav .menu {
    position: inherit;
    display: block;
    border: none;
  }

  .main-header .header-bottom nav .menu.show a,
  .main-header .header-bottom nav .menu a {
    padding: 0;
    text-decoration: none;
    color: var(--white);
  }

  .menu div:nth-child(2) {
    display: flex;
    gap: 20px;
  }

  /*
  ** MAIN HEADER SLUT
  ** <=
  */

  .breadcrumb ul {
    margin: auto;
    width: 600px;
    padding: 10px 0;
  }

  /*
  ** SECTIONS START
  ** =>
  */

  .hero,
  .cto-image {
    width: 100%;
  }

  .timeline,
  .cto-simple,
  .reviews,
  .newsletter,
  .contact-form,
  .responsive-wrapper {
    width: 600px;
    margin: auto;
  }

  .timeline,
  .cto-simple,
  .reviews,
  .newsletter,
  .contact-form,
  .responsive-wrapper {
    padding: 60px 42px;
  }

  /*
  ** SECTIONS SLUT
  ** <=
  */

  /*
  ** ANDET START
  ** =>
  */

  .divider {
    width: 550px;
    margin: auto;
  }

  /*
  ** ANDET SLUT
  ** <=
  */

  /*
  ** MAIN FOOTER START
  ** =>
  */

  .main-footer .footer-bottom {
    display: flex;
    justify-content: center;
    display: flex;
    gap: 25px;
  }

  .main-footer .footer-bottom div:nth-child(1) {
    margin: inherit;
  }

  /*
  ** MAIN FOOTER SLUT
  ** <=
  */


.payxx{
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 10px;
}

.infomation{
  margin-right: 40px;

}

.col-25{
 float: right;
 width: 500px;
 margin: 40px;
}

.betaling{
  background-color: var(--blue);
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;

}

.all{
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 10px;
}

.shoppingcart{
  width: 400px;
}

.cardpayment{
  width: 200px;
}

}

